*{
    box-sizing: border-box;
}

.grid{
    display:grid;
}

@media (min-width: 20rem) {

    #intro{
        font-size: 1.2rem;
        margin:0;
        line-height:1;
        
    }
    
    h1 {
        font-size: 1.4em; 
        margin: 0.67em 0;
        line-height: 1.4;
    }

    #intro-covinize{
        font-size: 2rem;
        margin:0;
        line-height:1;
    }

    .grid.two-column{
        grid-template-columns: 1fr;
        grid-gap: 4rem;
        grid-row-gap: 2rem;
    }

    .grid.three-column{
        grid-template-columns: 1fr;
        grid-column-gap: 2rem;
        margin-top:-1rem;
    }

    #intro, .work-grid, #intro-covinize, .landing-page-description{
        margin: 1.5rem;
    }

    #intro{
        margin-top: 6rem;
        margin-bottom: 3rem;
    }

    .color-grid{
        margin: 1.5rem;
    }

    #work-navbar, #work-navbar-index{
        margin-left: 1.5rem;
    }

    .orange-box{
        background-color: #9F5640;
        padding: 2rem 0 2rem 0;
        border-radius: 0.5rem;
        width: 100%;
    }

    img{
        width: 95%;
        height: auto;
    }

    #green, #yellow, #beige{
        width: 100%;
        padding: 4rem 2rem 4rem 2rem;
    }

    .heading{
        margin-top: 4rem;
    }

    .sub-heading{
        margin-top: 4rem;
    }

    .desktop-version{
        display: inline-block;
    }

    .mobile-version{
        display: inline-block;
    }

    #tree-img{
        margin-bottom:2rem;
    }
    
    .footer-margin{
        margin-top: 4rem;
    }
}

@media (min-width: 28rem) {

    #intro{
        font-size: 2rem;
        margin:0;
        line-height:1;
    }

    #intro-covinize{
        font-size: 2rem;
        margin:0;
        line-height:1;
    }

    .work-grid, #intro-covinize, .landing-page-description{
        margin: 4rem;
    }
    
    #intro{
        margin: 6rem;
    }

    .color-grid{
        margin: 4rem;
    }

    #work-navbar, #work-navbar-index{
        margin-left: 4rem;
    }

    #tree-img{
        margin-bottom:4rem;
    }
    
    h1 {
        font-size: 1.3em; 
        margin: 0.67em 0;
        line-height: 1.35;
    }
    
    .footer-margin{
        margin-top: 4rem;
    }
}

@media (min-width: 44rem) {

    #intro{
        font-size: 1.6rem;
        margin:0;
        line-height:1;
    }

    .heading{
        margin-top: 8rem;
    }

    #intro-covinize{
        font-size: 1.6rem;
        margin:0;
        line-height:1;
    }

    .grid.two-column{
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        grid-row-gap: 2rem;
    }

    #intro{
        margin: 8rem 8rem 8rem 6rem;
    }
    .work-grid{
        margin: 6rem 8rem;
    }

    .color-grid{
        margin: 0 8rem;
    }

    #work-navbar, #work-navbar-index{
        margin-left: 8rem;
    }

    #intro-covinize{
        margin: 6rem 8rem 5rem 8rem;
    }

    .landing-page-description{
        margin: 3rem 8rem 5rem 8rem;
    }

    .orange-box{
        background-color: #9F5640;
        padding: 4rem 2rem;
        border-radius: 0.5rem;
        width: 100%;
    }

    img{
        width: 95%;
        height: auto;
    }

    .grid.three-column{
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 2rem;
        
    }

    #green, #yellow, #beige{
        width: 100%;
        padding: 4rem 2rem 4rem 2rem;
    }
    
    #navbar {
        top: 0px;
        transition: top 0.3s;
    }

    .sub-heading{
        margin-top: 6rem;
    }

    #tree-img{
        margin-bottom:4rem;
    }

    .desktop-version{
        display: inline-block;
    }

    .mobile-version{
        display: inline-block;
    }
    
    h1 {
        font-size: 1.3em; 
        margin: 0.67em 0;
        line-height: 1.35;
    }
    
    .footer-margin{
        margin-top: 8rem;
    }

}

@media (min-width: 67rem) {
    
    h1 {
        font-size: 1.3em; 
        margin: 0.67em 0;
        line-height: 1.35;
    }

    #intro, #intro-covinize{
        font-size: 1.6rem;
        margin:0;
        line-height:1;
    }

    .grid.two-column{
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        grid-row-gap: 2rem;
    }

    .grid.three-column{
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 2rem;
        
    }

    #intro{
        margin: 12rem 6rem 10rem 6rem;
    }
    
    .work-grid{
        margin: 10rem 6rem;
    }

    .color-grid{
        margin: 0 12rem;
    }

    #intro-covinize{
        margin: 10rem 12rem 3rem 12rem;
    }

    .landing-page-description{
        margin: 2rem 12rem 3rem 12rem;
    }

    #work-navbar{
        margin-left: 4rem;
    }
   
    .orange-box{
        background-color: #9F5640;
        padding: 4rem 0 4rem 2rem;
        border-radius: 0.5rem;
        width: 100%;
    }

    img{
        width: 90%;
        height: auto;
    }

    #green, #yellow, #beige{
        width: 100%;
        padding: 4rem;
    }

    .heading{
        margin-top:0;
    }

    .sub-heading{
        margin-top: 6rem;
    }

    #tree-img{
        margin-bottom:4rem;
    }

    .mobile-version{
        display: none;
    }

    .desktop-version{
        display: inline-block;
    }
    
    .footer-margin{
        margin-top: 8rem;
    }
}


@media (min-width: 75rem) {

    #intro, #intro-covinize{
        font-size: 2.75rem;
        margin:0;
        line-height:1;
    }

    .grid.two-column{
        grid-template-columns: 1fr 1fr;
        grid-gap: 4rem;
        grid-row-gap: 2rem;
    }

    .grid.three-column{
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 2rem;
        
    }

    #intro{
        margin: 12rem 15rem 10rem 15rem;
    }
    
   .work-grid{
        margin: 10rem 15rem;
    }

    .color-grid{
        margin: 0 20rem;
    }

    #intro-covinize{
        margin: 8rem 20rem 4rem 20rem;
    }

    .landing-page-description{
        margin: 5rem 20rem 4rem 20rem;
    }
    
    #work-navbar{
        margin-left: 10rem;
    }

    #work-navbar-index{
        margin-left: 15rem;
    }

    .orange-box{
        background-color: #9F5640;
        padding: 4rem 2rem;
        border-radius: 0.5rem;
        width: 100%;
    }

    #green, #yellow, #beige{
        width: 100%;
        padding: 4rem;
    }

    .desc{
        margin-bottom: 4rem;
    }

    .project-name{
        font-size: 2rem;
    }

    .project-info{
        font-size: 0.8rem;
        margin-bottom: 1.2rem;
    }
    
    .project-desc{
        font-size: 1.1rem;
        
    }

    .heading{
        margin-top:0;
    }

    .sub-heading{
        margin-top: 4rem;
    }

    #tree-img{
        margin-bottom:4rem;
    }

    .mobile-version{
        display: none;
    }

    .desktop-version{
        display: inline-block;
    }
    
    h1 {
        font-size: 1.35em; 
        margin: 0.67em 0;
        line-height: 1.35;
    }
    
    .footer-margin{
        margin-top: 8rem;
    }
}
